 <div class="profile-container">
      <div class="profile-content">
        <div class="form-group" style="display: flex; flex-direction: column; align-items: flex-start;">
          <label  for="shop-name">მაღაზიის სახელი <p style="font-size: 12px; color: grey;">({{shop.shopName.length}}/30)</p></label>
          <input 
            id="shop-name"
            type="text" 
            [(ngModel)]="shop.shopName"
            class="form-input"
            maxlength="30"
          />
        </div>
        <div class="form-group" style="display: flex; flex-direction: column; align-items: flex-start;">
          <label for="shop-name">იმეილი</label>
          <input 
            id="location"
            type="" 
            [(ngModel)]="shop.gmail"
            class="form-input"
          />
        </div>
        <div class="form-group" style="display: flex; flex-direction: column; align-items: flex-start;">
          <label for="shop-name">პაროლი</label>
          <input 
            id="location"
            type="" 
            [(ngModel)]="shop.password"
            class="form-input"
          />
        </div>
        <div class="actions">
          <button class="btn-save" style="width: 100%;" (click)="addShop()">შენახვა</button>
        </div>
      </div>
    </div>