<div class="component">
    <div class="header">
    <div class="header-align">
        <div class="navigation-align">
            <span class="nav-link" routerLinkActive="active-link" [routerLink]="AppRoutes.home" >
                <i class="fas fa-shopping-cart"></i> 
                <b>მთავარი</b> 
            </span>
            <span class="nav-link" routerLinkActive="active-link" [routerLink]="AppRoutes.users" >
                <i class="fas fa-shopping-cart"></i> 
                <b>მომხმარებლები</b> 
            </span>
        </div>
        <div class="burger-icon-align" >
            <span class="nav-link" routerLinkActive="active-link" (click)="openSidenav()"><i class="fas fa-bars"></i></span>
        </div>
    </div>
</div>
</div>