
.component{
    color: white;
    position: fixed;
    z-index: 20;
    width: 100%;
    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        background-color: rgba(0, 0, 0, 0.644);
        backdrop-filter: blur(10px);
        .header-align{
            position: relative;
            width: 90%;
            display: flex;
            align-items: center;
            .float-logo{
                position: absolute;
                display: flex;
                align-items: center;
                gap: 15px;
                cursor: pointer;
                .logo-container{
                    overflow: hidden;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
                    .logo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        cursor: pointer;
                        transition: 0.3s all ease-in-out;
                    }
                    .logo:hover{
                        scale: 1.1;
                    }
                }
                .header-title{
                    color: white;
                    letter-spacing: 2px;
                    font-weight: bold;
                    text-decoration: none;
                    text-shadow: 0px 0px 2px black;
                    transition: 0.3s all ease-in-out;
                }
                
            }
            .navigation-align{
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 25px;
                .nav-link{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 10px;  cursor: pointer;
                    color: inherit;
                    text-decoration: none; 
                    cursor: pointer;
                    padding: 5px 10px;
                    border-bottom: 1px solid transparent;
                    border-radius: 5px;
                }
                .active-link{
                    background-color: white;
                    color: black;
                }
            }
            .mobile-navigation-align{
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            .burger-icon-align{
                width: 100%;
                display: none;
                justify-content: flex-end;
                align-items: center;
                .nav-link{
                    cursor: pointer;
                }
            }
        }
    }
}
.shop-profile{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    .shop-profile-container{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .shop-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .shop-title{
        color: white;
        text-wrap: nowrap;
    }
}